In [10]:
import numpy as np
import pandas as pd
import random
import copy
import math
from sklearn.cluster import KMeans
from collections import Counter
import time
import matplotlib.pyplot as plt

In [11]:
rf_path = "./rt-ifttt/rt-ifttt.csv"
rf_data = pd.read_csv(rf_path)

In [12]:
rf_data

,Unnamed: 0,OutdoorUV,OutdoorVisibleRay_Lux,OutdoorTemperature_C,OutdoorHumidity_pct,OutdoorPressure_hPa,IndoorUV,IndoorVisibleRay_Lux,IndoorTemperature_C,IndoorHumidity_pct,IndoorPressure_hPa
0,0,4.21,51624.113281,30.68,27.867188,1012.76,0.07,925.531921,27.26,33.154297,1011.81
1,1,4.20,51675.531250,30.63,27.899414,1012.79,0.07,771.276611,27.26,33.232422,1011.79
2,2,4.24,52035.460938,30.76,27.815430,1012.74,0.05,668.439697,27.29,33.145508,1011.78
3,3,4.23,51984.042969,30.75,27.781250,1012.74,0.05,617.021301,27.30,33.145508,1011.78
4,4,4.24,51881.207031,30.87,27.731445,1012.70,0.05,617.021301,27.29,33.123047,1011.72
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,0.73,9101.063477,20.71,40.255859,1013.13,0.06,565.602844,27.24,30.381836,1012.20
9996,9996,0.74,9101.063477,20.72,40.235352,1013.11,0.04,617.021301,27.24,30.392578,1012.15
9997,9997,0.74,9049.645508,20.73,40.368164,1013.15,0.03,565.602844,27.24,30.381836,1012.18
9998,9998,0.74,9101.063477,20.73,40.423828,1013.08,0.05,565.602844,27.24,30.415039,1012.18
9999,9999,0.74,9101.063477,20.74,40.425781,1013.08,0.05,668.439697,27.25,30.282227,1012.11

In [13]:
weather_humidity_path = "./Historical Hourly Weather Data 2012-2017/humidity.csv"
weather_pressure_path = "./Historical Hourly Weather Data 2012-2017/pressure.csv"
weather_temperature_path = "./Historical Hourly Weather Data 2012-2017/temperature.csv"
weather_wind_speed_path = "./Historical Hourly Weather Data 2012-2017/wind_speed.csv"
weather_humidity_data = pd.read_csv(weather_humidity_path)
weather_pressure_data = pd.read_csv(weather_pressure_path)
weather_temperature_data = pd.read_csv(weather_temperature_path)
weather_wind_speed_data = pd.read_csv(weather_wind_speed_path)
weather_data = [weather_humidity_data, weather_pressure_data, weather_temperature_data, weather_wind_speed_data]
for dataset in weather_data:
    for col_name in dataset.columns:
        # 处理空值
        if dataset[col_name].isnull().any():
            # 用平均值填充
            dataset.fillna({col_name: int(dataset[col_name].mean())}, inplace=True)
            
for idx in range(len(weather_data)):
    weather_data[idx] = weather_data[idx].drop(weather_data[idx].columns[0], axis=1)
weather_data_list = ["_humidity", "_pressure", "_temperature", "_wind_speed"]
for idx_dataset in range(len(weather_data)):   
    for idx in range(len(weather_data[idx_dataset].columns)):
        weather_data[idx_dataset].columns.values[idx] += weather_data_list[idx_dataset]
weather_data_aggregated = pd.concat([weather_data[0]], axis=1)
weather_data_aggregated.columns.values[0] = "Timestamp"
for idx in range(1, len(weather_data)):
    weather_data_aggregated = pd.concat([weather_data_aggregated, weather_data[idx].head(10000)], axis=1)
weather_data_aggregated['Timestamp'] = range(1, len(weather_data_aggregated) + 1)

In [45]:
bridge_21416_DPM_path = "./2021-04-16/2021-04-16 00-DPM.csv"
bridge_21416_HPT_path = "./2021-04-16/2021-04-16 00-HPT.csv"
bridge_21416_RHS_path = "./2021-04-16/2021-04-16 00-RHS.csv"
bridge_21416_ULT_path = "./2021-04-16/2021-04-16 00-ULT.csv"
bridge_21416_VIB_path = "./2021-04-16/2021-04-16 00-VIB.csv"
bridge_21416_VIC_path = "./2021-04-16/2021-04-16 00-VIC.csv"
bridge_21416_DPM_data = pd.read_csv(bridge_21416_DPM_path)
bridge_21416_HPT_data = pd.read_csv(bridge_21416_HPT_path)
bridge_21416_RHS_data = pd.read_csv(bridge_21416_RHS_path)
bridge_21416_ULT_data = pd.read_csv(bridge_21416_ULT_path)
bridge_21416_VIB_data = pd.read_csv(bridge_21416_VIB_path)
bridge_21416_VIC_data = pd.read_csv(bridge_21416_VIC_path)
bridge_data = [bridge_21416_DPM_data, bridge_21416_HPT_data, bridge_21416_RHS_data, bridge_21416_ULT_data, bridge_21416_VIB_data, bridge_21416_VIC_data]
# 找出行数最少的 DataFrame 的行数
min_rows = min(df.shape[0] for df in bridge_data)
# 截断所有 DataFrame 的行数为最小行数
bridge_data = [df.iloc[:min_rows, :] for df in bridge_data]

In [48]:
bridge_data

[       00:00:00.000   103.761   101.761  Unnamed: 3
 0      00:00:00.100   103.763   101.764         NaN
 1      00:00:00.200   103.760   101.763         NaN
 2      00:00:00.300   103.765   101.765         NaN
 3      00:00:00.400   103.764   101.763         NaN
 4      00:00:00.500   103.763   101.762         NaN
 ...             ...       ...       ...         ...
 35984  00:59:58.500   103.667   101.680         NaN
 35985  00:59:58.600   103.669   101.678         NaN
 35986  00:59:58.700   103.668   101.679         NaN
 35987  00:59:58.800   103.667   101.678         NaN
 35988  00:59:58.900   103.672   101.673         NaN

 [35989 rows x 4 columns],
        00:00:00.000  4854.628  4799.306  3366.273  3323.542  2026.681  \
 0      00:00:00.100  4854.414  4799.193  3365.402  3321.864  2026.677
 1      00:00:00.200  4855.120  4799.808  3365.459  3322.957  2026.425
 2      00:00:00.300  4855.650  4799.917  3365.670  3323.058  2026.338
 3      00:00:00.400  4856.657  4800.157  3365.977  3323.827  2026.154
 4      00:00:00.500  4857.528  4800.955  3366.404  3323.415  2026.032
 ...             ...       ...       ...       ...       ...       ...
 35984  00:59:58.500  4863.458  4802.461  3371.537  3326.434  2025.908
 35985  00:59:58.600  4862.169  4801.328  3372.356  3327.361  2026.041
 35986  00:59:58.700  4861.510  4800.154  3372.926  3327.336  2026.341
 35987  00:59:58.800  4861.033  4799.614  3372.336  3326.437  2026.368
 35988  00:59:58.900  4860.774  4799.298  3371.172  3325.403  2026.282

        1960.522  1204.850  1158.819  1637.626  1566.018   960.728   929.909  \
 0      1960.314  1204.346  1158.722  1637.303  1565.966   961.003   930.011
 1      1959.693  1204.387  1158.975  1637.359  1565.768   960.545   929.856
 2      1959.770  1203.989  1158.809  1637.210  1565.796   960.507   929.470
 3      1959.841  1203.798  1158.540  1636.807  1565.448   960.194   929.058
 4      1959.616  1203.618  1157.814  1637.040  1565.589   959.624   928.684
 ...         ...       ...       ...       ...       ...       ...       ...
 35984  1959.880  1203.237  1155.340  1636.716  1564.118   960.480   926.256
 35985  1959.673  1204.362  1156.430  1636.905  1564.538   960.674   926.825
 35986  1960.035  1203.995  1156.997  1636.920  1564.950   961.039   927.467
 35987  1960.148  1204.441  1158.038  1637.303  1565.607   961.000   928.258
 35988  1960.091  1204.460  1158.803  1637.328  1566.254   961.306   929.164

        Unnamed: 13
 0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
 ...            ...
 35984          NaN
 35985          NaN
 35986          NaN
 35987          NaN
 35988          NaN

 [35989 rows x 14 columns],
        00:00:00.000    24.478    48.877    24.611    55.545    24.291  \
 0      00:00:00.100    24.479    48.875    24.611    55.546    24.292
 1      00:00:00.200    24.480    48.880    24.610    55.544    24.290
 2      00:00:00.300    24.479    48.880    24.609    55.545    24.291
 3      00:00:00.400    24.480    48.876    24.610    55.544    24.292
 4      00:00:00.500    24.479    48.879    24.609    55.543    24.292
 ...             ...       ...       ...       ...       ...       ...
 35984  00:59:58.500    24.215    49.140    24.346    55.941    24.161
 35985  00:59:58.600    24.217    49.139    24.346    55.941    24.162
 35986  00:59:58.700    24.217    49.142    24.346    55.939    24.160
 35987  00:59:58.800    24.216    49.142    24.345    55.940    24.160
 35988  00:59:58.900    24.215    49.141    24.343    55.937    24.160

          42.173    24.401    43.895    24.864    78.694    24.850    78.495  \
 0        42.173    24.401    43.891    24.863    78.692    24.853    78.491
 1        42.173    24.399    43.891    24.865    78.694    24.850    78.491
 2        42.171    24.403    43.892    24.862    78.696    24.851    78.495
 3        42.172    24.405    43.894    24.862    78.693    24.850    78.493
 4        42.172    24.400    43.892    24.863    78.694    24.851    78.493
 ...         ...       ...       ...       ...       ...       ...       ...
 35984    42.171    24.157    43.785    24.866    78.824    24.851    78.492
 35985    42.171    24.158    43.786    24.865    78.827    24.850    78.495
 35986    42.170    24.157    43.784    24.865    78.824    24.851    78.493
 35987    42.171    24.158    43.786    24.865    78.823    24.851    78.493
 35988    42.171    24.156    43.787    24.866    78.824    24.848    78.491

        Unnamed: 13
 0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
 ...            ...
 35984          NaN
 35985          NaN
 35986          NaN
 35987          NaN
 35988          NaN

 [35989 rows x 14 columns],
        00:00:00.000     5.629   370.062  Unnamed: 3
 0      00:00:00.100     5.659   366.711         NaN
 1      00:00:00.200     5.728   364.934         NaN
 2      00:00:00.300     5.780   362.424         NaN
 3      00:00:00.400     5.801   360.347         NaN
 4      00:00:00.500     5.791   362.523         NaN
 ...             ...       ...       ...         ...
 35984  00:59:58.500     6.213   380.620         NaN
 35985  00:59:58.600     6.299   375.992         NaN
 35986  00:59:58.700     6.097   374.032         NaN
 35987  00:59:58.800     6.194   374.316         NaN
 35988  00:59:58.900     6.006   377.677         NaN

 [35989 rows x 4 columns],
        00:00:00.000    -0.387     0.483     0.155     0.239    -0.312  \
 0      00:00:00.020    -0.520     0.448    -0.089    -0.244    -0.320
 1      00:00:00.040    -0.167     0.260     0.129     0.036     0.046
 2      00:00:00.060    -0.103     0.000     0.191     0.220     0.296
 3      00:00:00.080    -0.256    -0.062     0.115     0.445    -0.132
 4      00:00:00.100    -0.177     0.088    -0.138     0.733     0.011
 ...             ...       ...       ...       ...       ...       ...
 35984  00:11:59.700    -0.296     0.096     0.146     0.312     0.036
 35985  00:11:59.720    -0.130     0.369    -0.009    -0.593    -0.384
 35986  00:11:59.740     0.236     0.293     0.622    -0.525     0.292
 35987  00:11:59.760     0.203    -0.071     0.066    -0.392    -0.020
 35988  00:11:59.780    -0.037     0.239     0.455    -0.202    -0.267

           0.869    -0.280     0.495    -0.694     0.000     0.361     0.590  \
 0         0.237     0.435     0.318    -0.695     0.002     0.558     0.469
 1         0.108     0.059     0.479    -0.708    -0.003     0.316     0.665
 2        -0.015     0.109     0.126    -0.733     0.001    -0.046     0.139
 3         0.342     0.077     0.681    -0.719     0.002    -0.022    -0.231
 4         0.271    -0.196     0.869    -0.738     0.003     0.121    -0.451
 ...         ...       ...       ...       ...       ...       ...       ...
 35984     0.528     0.561    -0.177    -0.745    -0.001    -0.084    -0.139
 35985     0.305     0.304     0.146    -0.773     0.002    -0.312    -0.090
 35986     0.225     0.399    -0.020    -0.755    -0.001    -0.498    -0.030
 35987     0.125     0.016    -0.120    -0.735     0.000    -0.383    -0.184
 35988     0.423    -0.081     0.096    -0.746     0.000    -0.148     0.125

          -0.073  Unnamed: 14
 0        -0.041          NaN
 1         0.046          NaN
 2        -0.020          NaN
 3        -0.024          NaN
 4         0.085          NaN
 ...         ...          ...
 35984     0.052          NaN
 35985     0.046          NaN
 35986     0.013          NaN
 35987    -0.004          NaN
 35988     0.009          NaN

 [35989 rows x 15 columns],
        00:00:00.000    -0.465     0.106    -0.033    -0.960     5.107  \
 0      00:00:00.020    -1.337    -0.742     0.018    -0.339     2.473
 1      00:00:00.040    -1.647     0.044    -0.018    -0.068    -6.668
 2      00:00:00.060    -2.678     1.093    -0.003    -1.702    -0.766
 3      00:00:00.080    -1.541     1.520     0.044     0.999     1.368
 4      00:00:00.100    -0.527    -0.471    -0.025     2.554     2.722
 ...             ...       ...       ...       ...       ...       ...
 35984  00:11:59.700    -0.731     0.056     0.005     1.709    -1.409
 35985  00:11:59.720    -0.139     0.089     0.029     1.566    11.712
 35986  00:11:59.740     0.691    -0.006    -0.010     0.053     3.590
 35987  00:11:59.760     0.896    -0.264    -0.008    -2.365   -10.447
 35988  00:11:59.780     0.731     0.081     0.010    -2.726    -5.251

          -0.370    -9.802     3.589     0.418     0.257    -1.799     0.587  \
 0        -0.024     2.112    -0.532    -0.645     3.898    -0.445     1.879
 1        -1.459    11.148    -3.781    -2.492     4.897     0.373     0.581
 2         0.630     1.947    -4.806    -0.814    -1.280    -0.310    -0.373
 3         2.189   -10.538    -3.023     2.263    -1.204    -0.707    -0.177
 4         1.408    -9.027     0.209     3.449     1.978     1.006     0.774
 ...         ...       ...       ...       ...       ...       ...       ...
 35984    -1.612     4.458     1.287    -0.540     1.175    -0.177     0.204
 35985     0.229     2.926    10.976    -0.553     1.315    -0.585    -0.034
 35986     1.139    -4.182     3.454     0.864     0.090    -0.325    -0.713
 35987     0.732    -4.577   -12.312     2.579     0.311     1.036    -0.451
 35988    -3.719     4.974    -2.327     0.292    -2.196     0.003    -0.148

        Unnamed: 13
 0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
 ...            ...
 35984          NaN
 35985          NaN
 35986          NaN
 35987          NaN
 35988          NaN

 [35989 rows x 14 columns]]

In [35]:
for dataset in bridge_data:
    for col_name in dataset.columns:
        # 处理空值
        if dataset[col_name].isnull().any():
            # 用平均值填充
            dataset.fillna({col_name: int(dataset[col_name].mean())}, inplace=True)

ValueError: cannot convert float NaN to integer

In [15]:

for idx in range(len(bridge_data)):
    bridge_data[idx] = bridge_data[idx].drop(bridge_data[idx].columns[0], axis=1)

bridge_data_aggregated = pd.concat([bridge_data[0]], axis=1)
bridge_data_aggregated.columns.values[0] = "Timestamp"
for idx in range(1, len(bridge_data)):
    bridge_data_aggregated = pd.concat([bridge_data_aggregated, bridge_data[idx].head(10000)], axis=1)
bridge_data_aggregated['Timestamp'] = range(1, len(bridge_data_aggregated) + 1)